@import '../_public/bem-mixins';
@import '../_public/var';

@include b(button) {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: .1s;
	font-weight: 500;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 8px 20px;
	font-size: $xui-button-font-size;
	border-radius: 4px;
	
	@include m(text){
		border-color: transparent;
		color: $xui-default-color;
		background: transparent;
	}
	
	&.is-primary{
		color: $xui-primary-color;
	}
}
